*{
    padding:0;
    margin:0;
}

#game{
    width:400px;
    height:500px;
    border: 1px solid black;
    margin:auto;
    overflow:hidden;
    position:relative;
    background-image:none;
}

#block, #hole, #character {
    display:none;
}

#score{
    position:absolute;
    top:0;
    left:0;
    width:400px;
    height:500px;
    z-index:1;
}

@keyframes block{
    0%{
        left:400px;
    }
    100%{
        left:-50px;
    }
}


@keyframes flap{
    0%{
        transform:rotate(0deg);
    }
    50%{
        transform:rotate(-20deg);
    }
    100%{
        transform:rotate(100deg);
    }
}

#character{
    transform-origin: center;
    transition: transform 0.1s ease-out;
}


#score{
    position:absolute;
    top:0;
    right:450px;
    text-align: center;
}

button{
    position:absolute;
    left:50%;
    transform: translate(-50%, 50%);
    background-color: orange;
    color:white;
    font-weight: bold;
    font-size:20px;
    padding: 5px 10px;
    cursor:pointer;
}

button:hover{
    background-color: darkorange;
}

#gameOver {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: red;
    z-index: 999;
}

#gameOver h2 {
    font-size: 48px;
    margin-bottom: 25px;
}

#gameOver p {
    font-size: 24px;
    margin-bottom: 20px;
}

#gameOver button {
    position: static;
    transform: none;
    background-color: orange;
    color: white;
    font-weight: bold;
    font-size: 20px;
    padding: 10px 20px;
    cursor: pointer;
   
    border-radius: 5px;
}

#gameOver button:hover {
    background-color: darkorange;
}

